/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//@import "compass/reset";


@mixin rounded($vert, $horz, $radius: 10px) {
  border-#{$vert}-#{$horz}-radius: $radius;
  -moz-border-radius-#{$vert}#{$horz}: $radius;
  -webkit-border-#{$vert}-#{$horz}-radius: $radius;
}

@mixin gradient-bg($color1, $color2) {
  background-color: $color1;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$color1}, endColorstr=#{$color2});
  background-image: -moz-linear-gradient(center top, $color1, $color2);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($color1), to($color2));
}

//	Circle - LowerMedia Custom Function
//
//	$hiwi == height and width (they must be equal for the circle to work)
@mixin ptl_circle($hewi){
	border-radius: $hewi/2;
	height: $hewi;
	width: $hewi;
}


.navbar-inner {
	@include gradient-bg(#F68A28, #F36C00);
	//background: -moz-linear-gradient(center top , #F68A28, #F36C00) repeat scroll 0 0 transparent;
}

#front-img-holder {
	@include ptl_circle(300px);
	border: 1px solid grey;

	a {
		img {
			@include ptl_circle(300px);
			border: 1px solid black;
			position: absolute;
			float: right;
			margin-right: 11%;
			margin-top: -6%;
		}
	}
}