/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//@import "compass/reset";


@mixin rounded($vert, $horz, $radius: 10px) {
  border-#{$vert}-#{$horz}-radius: $radius;
  -moz-border-radius-#{$vert}#{$horz}: $radius;
  -webkit-border-#{$vert}-#{$horz}-radius: $radius;
}

//	Background Gradient
//
@mixin gradient-bg($color1, $color2) {
  background-color: $color1;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$color1}, endColorstr=#{$color2});
  background-image: -moz-linear-gradient(center top, $color1, $color2);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($color1), to($color2));
}

//	Circle - LowerMedia Custom Function
//
//	$hiwi == height and width (they must be equal for the circle to work)
@mixin ptl_circle($hewi){
	border-radius: $hewi/2;
	height: $hewi;
	width: $hewi;
}

#content {
    color: #333333;
    font-family: "BenchNine",Helvetica,Arial,sans-serif;
    font-size: 18px;
    line-height: 24px;

    li {
    	line-height: 34px;
	}
}



.navbar-inner {
	@include gradient-bg(#F68A28, #F36C00);
	//background: -moz-linear-gradient(center top , #F68A28, #F36C00) repeat scroll 0 0 transparent;
}

.page-header {
	padding: 10px;
	margin: 0;
	border-bottom: 1px solid #eee;
	background: rgb(55, 235, 55);
	text-align: center;
	color: whitesmoke;
	text-shadow: 
		0 1px 0 black, 
		0 2px 0 black, 
		0 3px 0 black, 
		0 4px 0 black, 
		0 5px 0 black, 
		0 6px 1px rgba(0, 0, 0, 0.1), 
		0 0 5px rgba(0, 0, 0, 0.1), 
		0 1px 3px rgba(0, 0, 0, 0.3), 
		0 3px 5px rgba(0, 0, 0, 0.2), 
		0 5px 10px rgba(0, 0, 0, 0.25), 
		0 10px 10px rgba(0, 0, 0, 0.2), 
		0 20px 20px rgba(0, 0, 0, 0.15);
}

#main {
	margin: auto;
	width: 100%;
}

#front-img-holder {
	@include ptl_circle(250px);
	border: 1px solid grey;
	float: right;
	background-image: url('http://lowermedia.net/assets/iowa-city-web-guru-wordpress-drupal-techi-lowermedia_pete-lower-i9mh-1024x643.png');
	background-size: 400px;
	-webkit-animation: 3s slideBg infinite linear;
    -moz-animation: 3s slideBg infinite linear;
	a {
		img {
			@include ptl_circle(250px);
			border: 1px solid black;
		}
	}
}

@-moz-keyframes slideBg {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 250px 0; /* 200px = width of background image */
    }
}

@-webkit-keyframes slideBg {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 250px 0; /* 200px = width of background image */
    }
}